/* Mobile First  336px */

   .home-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    /* border: 1px solid pink; */
  } 
  
  .home-banner-container {
    display: none; /* Não Mostra o banner em Tela Pequena  */
     /* border: 1px solid orange;  */
  }
  
  .home-form-container {
    width: 100%;
     /* border: 1px solid blue;  */
  } 
  
  @media (min-width: 576px) {
    .home-form-container {
      width: 480px;
    }
  }
  
  @media (min-width: 768px) {
    .home-form-container {
      width: 550px;
    }
  }
  
  @media (min-width: 1200px) {
    .home-container {
      padding: 40px;
    }
  
    .home-banner-container {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      width: 500px;
    }
  
    .home-banner-container h1 {
      font-size: 40px;
      letter-spacing: -0.015em;
      color: #FFFFFF;
      margin-bottom: 15px;
    }
    .home-banner-container p {
      font-size: 18px;
      letter-spacing: -0.015em;
      color: #F2F2F2
    }
  
    .home-banner-container svg {
      width: 100%;
       /* border: 1px solid green;  */
      }
  }
  
  @media (min-width: 1400px) {
     .home-banner-container {
      width: 600px;
    }
  
    .home-banner-container h1 {
      font-size: 55px;
      margin-bottom: 25px;
    }
  
    .home-banner-container p {
      font-size: 24px;
    }
  
  }
  
  