@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 0;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

.base-card {
  position: absolute;
  width: 320px;
  height: 498px;
  left: 0px;
  top: 68px;
  
  background: #525252;
}


/* input Global  */

.base-input {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.015em;/* Aperta as Letras  */
  height: 50px;
  box-sizing: border-box;
  background: #FEFEFE;
  border: 1px solid #FEFEFE;
  border-radius: 4px;
}
 
.base-input::placeholder {
  color: #9E9E9E;
}


